body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
    width: 100%;
}

.mdl-layout{
  height: auto;
}

.contactmenu{
    background: white !important;
    color: orange !important;
    border: 1px solid orange !important;
}
.csssample {
    position: fixed;
    top:0px;
    left:0px;
    background-color: #fff;
}

#menu{
    /*margin-left: 54%;*/
}

.mdl-layout__content {
    overflow: hidden;
}

.rotate {
    -webkit-animation-duration: 10s, 10s;
    -webkit-animation-iteration-count: infinite, infinite;
    -webkit-animation-name: spin, example;
    -webkit-animation-timing-function: linear, linear;

    -moz-animation-duration: 10s, 10s;
    -moz-animation-iteration-count: infinite, infinite;
    -moz-animation-name: spin, example;
    -moz-animation-timing-function: linear, linear;

    animation-duration: 10s, 10s;
    animation-iteration-count: infinite, infinite;
    animation-name: spin, example;
    animation-timing-function: linear, linear;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
@keyframes example {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 100;
    }
    100% {
        opacity: 0;
    }
}

.mdl-layout__drawer-button {
    color: silver !important;
}

.bluebg{
    width: 100%;
}

.mdl-button {
    letter-spacing: 5px;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

sup {
    color: #f2504d;
}


label {
    color: #7a7a7a;
}

.start {
    background: #62d6ef !important;
}

.submenu:hover {
    background-color : orange;
    color : #ffffff;
}

.active {
    background-color : orange;
    color : #ffffff;
}

